# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store
*.swo
*.swp
coverage

# Ignore sublime workspace
*.sublime-workspace

# Ignore local & design files
NoobsRelated*
db/development.db
.rvmrc
requirements*.txt
