<!DOCTYPE html>
<html>
<div id="toprightdiv">
  <p>Deployment 0.0.20</p>
</div>
<div id="ddtoptabs">
  <ul class="nav">
    <li style="margin-left: 1px"><a href="/visitors/page2"><span>Page Two</span></a></li>
    <li><a href="/"><span>Home</span></a></li>
  </ul>
</div>

<header><h1>The Noobs Project</h1></header>

<h1>What you said...</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.contact %></td>
    <td><%= comment.comment %></td>
  </tr>
<% end %>
</table>

<br />

