<!DOCTYPE html>
<html>

<header><h1>Commentary</h1></header>

<h1>What you said...</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.comment %></td>
  </tr>
<% end %>
</table>

<br />

