<% provide(:title, 'Help Wanted') %>
<meta name="description=" content="We are looking for help in the fields of Marketing, Web Design, Web Development, Business, Graphic Arts, and Writing">


<header><h1>Help Wanted</h1></header>

<p>Help is welcome, especially in the fields of:</p>
<h1>Marketing</h1>
<h1>Web Design</h1>
<h1>Web Development</h1>
<h1>Business</h1>
<h1>Graphic Arts</h1>
<h1>Writing</h1>
<p>If what you see here appeals to you, get in touch!</p>


