<div class="row-fluid">
  <div class="span6 center">
    <ul class="home-bullets">
      <li>Great Web Design</li>
      <li>Great Web Development</li>
      <li>Great Web Services</li>
      <li>At Reduced Cost to You</li>
    </ul>
    <a href="/hire" class="btn btn-large btn-primary" >Hire Us!</a>
  </div>


  <div class="span6 center">
    <h1>Work Experience for Students and Entry Level Professionals</h1>
    <p><a href="/join" class="btn btn-large btn-primary">Join Us!</a></p>
  </div>
</div>