<% provide(:title, 'Discount Web Design by Students') %>
 <p id="notice"><%= notice %></p>
<div class="row-fluid">
  <div class="span6 center">
    <ul class="home-bullets">
      <li>Great Web Design</li>
      <li>Great Web Development</li>
      <li>Great Web Services</li>
      <li>At Reduced Cost to You</li>
      <br>
      <p>Professional oversight and quality assurance combined with newly minted designer and developer talent provide you with the best possible product at the lowest possible price.</p>
    </ul>
    <a href="/hire" class="btn btn-large btn-primary" >Hire Us!</a>
  </div>


  <div class="span6 center">
    <h1>Work Experience for Students and Entry Level Professionals</h1>
    <br>
    <p>It's hard to get started in this industry. </p><p>If you are ready to do some truly top quality professional web design work, we'll help you to step across the line that separates the newbies from the pros.</p><p>And pay you to do it.</p>
    <p><a href="/join" class="btn btn-large btn-primary">Join Us!</a></p>
  </div>
</div>

<% content_for :rightside do %>
  <h1>Top Level Professionals Needed, Too!</h1>
  <br>
  <p>Help us.</p><p>Help the industry.</p><p>Help a new kid get started.</p><p>Get paid.</p>

  <p><a href=# class="btn btn-large btn-primary">Click Here!</a></p>
<% end %>

