<% provide(:title, 'Discount Web Design by Students') %>

<meta name="description=" content="The Noobs Project offers inexpensive web design services and provides jobs for students and upcoming professionals">

<div class="span5">
  <h1>Great Web Design</h1>
  <h1>Great Web Development</h1>
  <h1>Great Web Services</h1>
  <h1>At Reduced Cost to You</h1>
</div> 

<div class="span5">
  <h1>Work Experience</h1>
  <h1>for Students and</h1>
  <h1>and Entry Level</h1>
  <h1>Professionals</h1>
</div> 

<div class="span10">
  <div class="span5">                
    <p><a href="/hire" class="btn btn-large btn-primary" >Hire Us!</a></p>
  </div> 

  <div class="span5">                
    <p><a href="/join" class="btn btn-large btn-primary" id="btn-centered">Join Us!</a></p>
  </div> 
</div> 

