<% provide(:title, 'How It Works') %>
<meta name="description=" content="Students and Entry Level Professionals work at reduced rates. Experienced professionals provide quality assurance and oversite.">
<header><h1>How It Works</h1></header>
<h1>For the Client:</h1>
<p>Thorough quality supervision and high in-house standards ensure that you receive a top quality product or service. Reduced-rate task-based contracting prevents cost overrun. The downside to this is that your project may take longer than it would in a regular shop.</p>
<p>Upon submission, we will evaluate your project to determine whether our team is appropriate for your needs. If we are not a good fit we will tell you how and why that is so, and possibly suggest alternatives.</p>
<p>We will provide a written offer to contract your project based on your requirements. We will commit to a timeline, with set milestones and a completion date. Generally, our contract rates will be less than what you can expect to pay elsewhere for similar services.</p> 
<p>We will assign your project to one of our Newbies, who may be working with other Newbies, and will be subject to oversight by one of our Masters. We provide you with access to our project tracking database so that you can see how your project is progressing.</p>
<h1>For the Newby:</h1>
<p>As a Newby, you will receive an opportunity to practice your craft in a professional manner at a pace that permits you to do necessary research, study and practice with professional oversight. A limited allowance is made for rework and study.</p>
<p>You will be paid by the task, based on the time the same task could be done by a professional. You are required to produce professional quality work at a pace consistent with the overall contract. The Master assigned to you is required to direct you to the resources necessary to accomplish their tasks and to mentor you in terms of work flow, and to provide quality reviews throughout the project process.</p>
<h1>For our Masters:</h1>
<p>As a Master, you will be contracted for leadership services at full market value. You will have an opportunity to mentor new professionals in your field in a low-pressure environment. You will be required to provide oversight, guidance, reviews and quality control for the work of the Newbies you have contracted to direct. As such, your role is likely to require more effort than it would in a regular shop. In the event that your Newby falls behind schedule or cannot do the work, you will be required to deliver the project, and the Newbs Project will take a loss.</p>
<h3>Speculative work:</h3>
<p>The Newbs Project may choose to adopt projects on a speculative basis. Such projects will be treated as startup ventures. Everyone, including the Newbs Project, involved in speculative work will be Owners, and remunerated with proceeds from the speculative venture itself. The Newbs Project itself is such a project.</p>
<h3>Regular contract:</h3>
<p>The Newbs Project will necessarily purchase some goods and services at regular cost.</p>







