<% provide(:title, 'How It Works') %>
<header><h1>How It Works</h1></header>
<h1>For the Client:</h1>
<p>As a client, you will receive a top quality product or service at a significantly reduced cost. The downside to this is that your project will take longer than it would in a regular shop. Some projects are not a good fit our model: those that can be done extremely inexpensively with a packaged solution, those that require resources (skill sets, capacity, geographical presence, etc.) that we do not have available, and perhaps others.</p>
<p>Upon submission, we will evaluate your project to determine whether our team is appropriate for your needs. If we are not a good fit we will tell you how and why that is so, and possibly suggest alternatives.</p>
<p>We will estimate your project based on what we believe to be 75% of the fair market value for that product or service. We provide a written offer to contract based on your requirements. We will commit to a timeline, with set milestones and a completion date.</p> 
<p>We will assign your project to one of our Newbies, who may be working with other Newbies, and will be subject to oversight by one of our Masters. We provide you with access to our project tracking database so that you can see how your project is progressing.</p>
<h1>For the Newby:</h1>
<p>As a Newby, you will receive an opportunity to practice your craft in a professional manner at a pace that permits the necessary research, study and practice with professional oversight. Some rework is expected.</p>
<p>Work by Newbies is offered by contract at 60% of the fair market value for their service, organized by task. Newbies are required to produce professional quality work. The Master assigned to them is required to direct them to the resources necessary to accomplish their tasks and to mentor them in terms of work flow, and to provide quality reviews throughout the project process.</p>
<h1>For our Masters:</h1>
<p>As a Master, you will be contracted for leadership services at full market value. You will have an opportunity to mentor new professionals in your field in a low-pressure environment. You will be required to provide oversight, guidance, reviews and quality control for the work of the Newbies you have contracted to direct. As such, your role is likely to require more effort than it would in a regular shop.</p>
<h3>Speculative work:</h3>
<p>The Noobs Project may choose to adopt projects on a speculative basis. Such projects will be treated as startup ventures. Everyone, including the Noobs Project, involved in speculative work will be Owners, and remunerated with proceeds from the speculative venture itself. The Noobs Project itself is such a project.</p>
<h3>Regular contract:</h3>
<p>The Noobs Project will necessarily purchase some goods and services at regular cost.</p>







