<!DOCTYPE html>
<html>
<div id="toprightdiv">
  <p>Deployment 0.0.20</p>
</div>
<div id="ddtoptabs">
  <ul class="nav">
    <li style="margin-left: 1px"><a href="/comments"><span>Commentary</span></a></li>
    <li><a href="/"><span>Home</span></a></li>
  </ul>
</div>

<header><h1>The Noobs Project</h1></header>