<% provide(:title, 'The Newbies! Story') %>
<meta name="description=" content="As students and entry level professionals, we decided to create our own jobs, and hire pros to help.">
<header><h1>Welcome!</h1></header>

<p>Hello. I'm Kevin Swallow. Last year, after working as mechanical engineer and project manager for a decade, I decided it was time to change careers. I would take the path that I almost took in college.</p>

<p>That path was computer programming. Luckily for me, it was also the path my father had taken, and my son as well. On my son's advice I tried to forget the procedural stuff that I had learned in college and switch to object oriented programming. I studied Ruby, Java, HTML, CSS, design patterns, Rails, Sinatra, testing, best practices . . . and on, and on. I made a little RubyQT desktop app for my own use and edification. I went through some web tutorials. My son permitted me to help with a couple of small professional web applications. This was the thing to do! </p>

<p>So! I am going to be a web developer. But I needed to find another project, and my son didn't have another project lined up. An internship would be perfect, but where could I find an internship? I knew I wasn't really ready for prime time yet: I didn't quite know enough to get hired by a big regular firm, nor was I good enough to hang out my shingle just yet. The perfect project would somehow make the world a better place, if even in a very small remote way, and would have some vague potential for remuneration, if only through advertising. And I should have someone to review my work. The obvious thing to do was to look on the web. I thought I would be sure to find suggestions for possible websites there. It was late, and I was tired, and I decided to do that in the morning. When I awoke the next day, it was in my head that I was not the only person in this situation, and that it would be nice if there were a site intended for people like me.</p>

<p>I found no such thing, so I decided to create one. In fact, why not create a site that would bring people together, and that might possibly lead to an organization of people dedicated to providing "newbies" with an opportunity to practice the craft that they are learning? I had two models in mind: the modern internet startup and Starving Students.</p>

<p>What you see is that work in progress.</p>



 
