<!DOCTYPE html>
<html>
<div id="toprightdiv">
  <p>Deployment 0.0.20</p>
</div>
<div id="ddtoptabs">
  <ul class="nav">
    <li style="margin-left: 1px"><a href="/comments"><span>Commentary</span></a></li>
    <li><a href="/visitors/page2"><span>Page Two</span></a></li>
  </ul>
</div>

<header><h1>The Noobs Project</h1></header>
<header><h2><span>Welcome!</span></h2></header>
<p>Hello. I'm Kevin Swallow, and this is my first website.</p>

<p>Having determined that I was going to learn web development, I needed to find a project. Something that didn't require that I really know much about what I was doing, that was simple but either not the same as or not as simple as the tutorial sample projects that I had been studying. The perfect project would somehow make the world a better place, if even in a very small remote way, and would have some vague potential for remuneration, if only through advertising. The obvious thing to do was to look on the web. I thought I would be sure to find suggestions for possible websites there. It was late, and I was tired, and I decided to do that in the morning. When I awoke the next day, it was in my head that I was not the only person in this situation, and that it would be nice if there were a site intended for people like me.</p>
<p>Rather than look for such a site, I decided to create one. In fact, why not create a site that would bring people together, and that might possibly lead to an organization of people dedicated to providing "newbies" with an opportunity to practice the craft that they are learning?</p>
<p>The next deployment will feature:</p>
<ul>Something on Page 2.</ul>
<p></p>
<h4>If you have a comment or suggestion, please share it! <a href="/comments/new"><span>Click Here to Comment</span></a></h4>
    <p></p>
<p>(If appropriate I'll respond or post it on the commentary page.)</p>

 
