





<div class="content">

   <table width="100%" height="100%" align="center" >
   <tr>
    <td>
      <img src="/assets/Blank.png" alt="Maintainable" width="640" height="320" />
    </td>
    <td>
      <img src="/assets/wrench.jpg" alt="wrench" width="640" height="320" />
   </td>
   <td>
     <img src="/assets/Blank.png" alt="Maintainable" width="640" height="320" />
   </td>
  </tr>
   </table>

</div><!-- end content --> 

<div >
  <% content_for :leftside do %>
   <img src="/assets/diamondclear.png" alt="Quality" width="320" height="160" />
  <% end %>
</div><!-- end leftside --> 

<div >
  <% content_for :rightside do %>
   <img src="/assets/codeimg.png" alt="Maintainable" width="320" height="160" />
  <% end %>
</div><!-- end rightside --> 

<div >
  <% content_for :footer do %>
   <img src="/assets/GWDG.png" alt="Maintainable" width="256" height="104" />
  <% end %>
</div><!-- end footer --> 
