

<div>
  <% content_for :headerright do %>
  <p>
    The Group Web Design approach
isn't just the best deal for the client. It's a great opportunity for 
hard working programmers and designers to get paid what they are worth.Join our team if you love producing quality code!
</p>
  <% end %>
</div><!-- end headerright --> 

<div>
  <% content_for :leftside do %>
  <h1>Quality Counts</h1>
  </br>
  <p>Tomorrow will come.</p>
  <p>There is an infinite number of ways to produce what you see on 
    the web, and many of them are not maintainable or upgradeable. 
    Through peer review, best practices, appropriate tool usage, 
    specifications, and testing we can provide an application or
    site that can grow with you and your business. </p>
  
  <% end %>
</div><!-- end leftside --> 

<div>
  <% content_for :centercolumn do %>
  <h1>Project Management Pays</h1>
  </br>
  <p>Contracting can be risky.</p>
  <p>It's tempting to pay that top dollar rate to get the product you 
    need, and it's tempting to take bids off the street to get the price you want. 
    Our managed design team approach gives you the best of both worlds: 
    expert supervisors make sure the work delivered under your contract 
    is everything it should be.</p>
  
  <% end %>
</div><!-- end centercolumn --> 

<div>
  <% content_for :rightside do %>
  <h1>Contracting Saves</h1>
  </br>
  <p>Get what you pay for.</p>
  <p>We make sure that the price you pay is the right one by helping you to 
    specify exactly what you need in concrete terms. We review the work 
    that's submitted and make sure that it's well constructed and 
    maintainable. We review the product with you and make sure that 
    what you get is what you wanted to see.
  </p>
  
  <% end %>
</div><!-- end rightside --> 

<div>
  <% content_for :footer do %>
    <p>footer</p>
  <% end %>
</div><!-- end footer --> 
