@import "bootstrap";

/* mixins page layout, text, lists, tables, features, images */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* page layout
	navbar body hero main wrapper sidebox inner-footer footer*/

.navbar {
	.navbar-inner {
		overflow: auto;
		width: 100%;

		a {
			color: #A9F8F9;
		}
	}
}

body {
	background-image: url('BlueGradient.jpg');
	background-repeat: no-repeat;
	background-position: left bottom;
	background-attachment: fixed;
	background-size: cover;

	padding-top: 70px;


	p{
		font-size: 18px;
		line-height: 26px;
		color: black;
	} 

	h1, h2, h3, h4, h5, h6{
		color: black;
	}
}

.myhero {
	background-color: rgba(164, 77, 193, 0.7);
	color: white;
	padding: 5px;

	h1{
		color: black;
		font-family: "Comic Sans MS", cursive, sans-serif;
		font-size: 56px;
		text-align: left;	
	}
	p{
		text-align: left;	
		margin: -9px 0 0 0;
	}
}

#main {
	padding: 20px 20px 0 20px; 
	background: rgba(250, 255, 255, 0.7); 
	height: 563px; 
	overflow-y: auto;
}

.wrapper {
    min-height: 100%;
    height: auto !important; /* ie7 fix */
    height: 100%;
    margin: 0 0 40px 0;
}
		
.sidebox {		/* future? */
	background-color: rgba(255, 62, 128, 0);
	height: 100px;
}

.top130 { margin: 130px 0 0 0;}
.bottom40 {margin: 0 0 40px 0;}

.inner-footer {
	height: 40px;
	margin: -40px 0 0 0;
	#footer-link {
		color: #05C;
		font-weight: normal;
	}
}

.footer {

	margin: 10px 0 10px 0;


}

/* text */


#left-small {
	text-align: left;
	line-height: 9px;
  bottom: 0;
  margin: -10px 0 0 120px;
}

.home-bullets {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		font-size: 30px;
		line-height: 36px;
		font-weight: bold;
		color: black;
	}
}

.center {
	text-align: center;
	font-size: 80%;
	line-height: 90%;
}

.right {
	text-align: right;
}

/* features */

#btn-centered {
	float: left;
	position: relative;
	left: 62%;
}

.floatright {
	float: right;
	margin: 0 10px 0 0;
}

.floatleft {
	float: left;
	margin: 0 0 0 10px;
}

.textarea {
	cols: 90;
	rows: 10;
}

/* images */

#newby {
	background-repeat: no-repeat;
	background-position: left bottom;
	background-attachment: fixed;
	width: 100px;
	height: 100px;
	margin: -100px 10px 0 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



