// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  
label{
  display: inline;
  float: left;
  margin-bottom: 0;
} 
.leftside{
  input{
    float: right;
  }
  p{
  height: 29px;
  }
}
.rightside{
  p{
  font-size: 14px;
  }
  label{
  font-size: 14px;
  }
}
