// Place all the styles related to the Visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.span5 { 
	margin: 45px 0 0 0;
}

.span5 h1{ 
	text-align: center;
}

.span5 p{ 
	text-align: center;
}

/*** check if the above is used....*/


img {
  max-width: 200%;
}

body {
  padding-top: 25px;
}