<% if !current_user.role == 'admin' %>
  <% redirect_to "/public/500.html" %>
<% end %>
<h1>Admin</h1>
<p><%= current_user.name %></p>
<p><%= current_user.email %></p>
<div id="adminlinks">
  <ul class="nav">
    <li style="margin-left: 1px"><a href="/comments"><span>Comments</span></a></li>
    <li><a href="/users"><span>Users</span></a></li>
    <li><a href="/jobs"><span>Jobs</span></a></li>
    <li><a href="/tasks"><span>Tasks</span></a></li>
    <li><a href="/timecards"><span>Timecards</span></a></li>
    <li><a href="/sitemap/"><span>Show Sitemap</span></a></li>
  	<li><a href="/sitemap/send"><span>Send Sitemap</span></a></li>
  </ul>
</div>

