@import "bootstrap-responsive"; 

/* My style */

/*

  By Kevin Swallow

  ---

  1.  Layout
  2.  Typography
  3.  Other Elements
  4.  Media Queries & Responsiveness
  5.  Fonts

*/

/*--------------------------------------------------------------------------
  1.  Layout  
/*------------------------------------------------------------------------*/
/* > * > * { border: solid white 1px; }*/

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: image-url("group-meeting-silh-612x407.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat; 
  background-position: center;
  padding-top: 35px; 
  padding-bottom: 67px; 


  h1{ /**/
    padding: 5px 0 0 0;
    text-align: center;
    font-size: 18px;

  }
  p{  /**/
   font-size: 12px;
   text-indent:50px;
   padding: 0 10px 0 10px;
   line-height: 18px
  }

}



.navigation { /*may need to be updated*/
  position: fixed;
  top: 0;
  width: 100%;
  color: rgb(169, 169, 169);
  height: 20px;
  text-align: center;
  padding-top: 2px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(169, 169, 169, 0.8);
  color: rgba(169, 169, 169, 0.8);
}

.navigation a {
  font-size: 14px;
  padding: 0 10px 0 10px;

  color: white;
  text-decoration: none;
}

.navigation a:hover {
  color: grey;
} 

.pull-right{
  color: black;
  padding: 0 20px 0 20px;
}

.container-fluid{
  height: 100%;
}

img {
  max-width: 200%;
}

.noshow {
  visibility: hidden;
}

.padr {
  background: rgba(238, 238, 238, 0.56);  
}

.skinny {
  padding: 0 0 0 15px;
  margin: 10px;
  background: rgba(238, 238, 238, 0.56);
}

.skinny   p {
    margin: 0;
  }

.skinny .btn.btn-primary.btn-large {
margin-left: 30px;

}

.low p{
  background: rgba(238, 238, 238, 0.56);
}

.low h1{
  background: rgba(238, 238, 238, 0.56);
}

.footer {
   position:fixed;
   bottom:0;
   height:25px;
   width:100%;
   background:white;
   line-height: 1.5;
   margin: -25px 0 0 0;
}

