#main{
  background: rgb(220, 220, 220); 
}

.navbar {
  .navbar-inner {
    overflow: auto;
    width: 100%;


      background-color: rgb(192, 192, 192);

  }
}

a                       { text-decoration: none; color: #eee; display: inline; padding: 0 0 0 10px;}
a:hover             { text-decoration: underline; }
a:visited { text-decoration: none; color: #eee; display: inline; padding: 0 0 0 10px;}

ul                  { padding: 8px 25px; list-style: none;
                      -webkit-box-shadow: 2px 2px 5px black;
                      background: rgb(192, 192, 192); } 
ul ul               { background: rgb(128, 128, 128); }
ul ul ul               { background: #4b4b4b; }
ul ul ul ul           { background: #5a5a5a; }

