@import "bootstrap";

/* page layout, text, lists, tables, images */

/* page layout
	body header */

#topbar {
  position: fixed;
  top: 0;

}
/*do I need hero unit?*/
#myhero {
	padding-bottom: 5px; 
	padding-top: 5px;
	margin-top: 48px;

 
	background-color: rgba(164, 77, 193, 0.7);
}

#topcorner {
	background-color: rgb(255, 62, 128);
	height: 100px;
}

header {
	text-align: center;
	margin: 0 0 20px;
}

body {
	margin-top: 200px;
	width: 100%;
}

footer {
	margin: 10px 0 10px 0;
	width: 100%;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.container-fluid { 
	width: 100%;
}

.floatright { 
	float: right;
	margin: 0 10px 0 0;
}


/* text */

#myhero h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: black;
	font-size: 66px;
	margin-bottom: -8px;
}

#myhero p{
	color: white;
}

#topcorner p{
	color: white;
	font-size: 18px;
	margin: 50px 0 0 0;
}

/* images */

#newby { 
	width: 100px; 
	height: 100px;
}