@import "bootstrap";

/* page layout, text, lists, tables, specific groups */

/* page layout
	body header */

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;	
}

body {
	margin: 35px auto;
	width: 640px;
}

header {
	text-align: center;
	margin: 0 0 20px;
}

header h1 {
	display: inline;
	font-size: 32px;
}

header h1 a:link, header h1 a:visited {
	color: #444;
	text-decoration: none;
}

header h2 {
	font-size: 24px;
	font-style: italic;
	color: #444;
}

/* lists */

dl{
  dt {
    font-weight: bold;
    text-decoration: underline;
  }
  dd {
    margin: 0;
    padding: 0 0 0.5em 0;
  }
} 

#main {
	margin: 0 0 20px;
}

#add {
	margin: 0 0 20px;
}

#add textarea {
	height: 30px;
	width: 510px;
	padding: 10px;
	border: 1px solid #ddd;
}

#add input {
	height: 50px;
	width: 100px;
	margin: -50px 0 0;
	border: 1px solid #ddd;
	background: white;
}

#edit textarea {
	height: 30px;
	width: 480px;
	padding: 10px;
	border: 1px solid #ddd;
}

#edit input[type=submit] {
	height: 50px;
	width: 100px;
	margin: -50px 0 0;
	border: 1px solid #ddd;
	background: white;
}

#edit input[type=checkbox] {
	height: 50px;
	width: 20px;
}

article {
	border: 1px solid #eee;
	border-top: none;
	padding: 15px 10px;
}

article:first-of-type {
	border: 1px solid #eee;
}

article:nth-child(even) {
	background: #fafafa;
}

article.complete {
	background: #fedae3;
}

article span {
	font-size: 0.8em;
}

p {
	margin: 0 0 5px;
}

.meta {
	font-size: 0.8em;
	font-style: italic;
	color: #888;
}

.links {
	font-size: 1.8em;
	line-height: 0.8em;
	float: right;
	margin: -10px 0 0;
}

.links a {
	display: block;
	text-decoration: none;
}

.floatright { 
	float: right;
	margin: 0 0 10px 10px;
}

#ddtoptabs{
margin-left: 4px; /*Opera 8 fix -1px*/
padding: 0;
width: 450px;
height: 27px;
background: transparent;
padding-left: 5px;
}

#ddtoptabs ul{
font: normal 10px verdana, arial, sans-serif;
margin:0;
padding:0;
list-style:none;
}

#ddtoptabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
text-transform:uppercase;
line-height: 1.3em;
font-size: 120%;
}  

#toprightdiv{
width: 300px;
margin-right: 2px;
margin-bottom: 0;
float: right;
text-align: right;
}

#hero_unit_p{
	color: white
}

