<!DOCTYPE html>
<html lang="en"> 
	<head>  
  	<meta charset="utf8">  
		<title>Noobies!</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  	<link href="/assets/style.css" rel="stylesheet">  
	</head> 

  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">

        <nav>
          <ul class="nav pull-left">
            <li> <a href="/comments/new" class="btn btn-large btn-primary">Join Us!</a></li>              
              <li><a href="/comments">Comments</a></li>
              <li><a href="/visitors/page2">Page Two</a></li>
              <li><a href="#">Sign in</a></li> 
          </ul>
          <ul class="nav pull-right">
              <li><a href="#">Deployment 0.0.24</a></li>
              <li><a href="/comments/new" class="btn btn-large btn-primary">Hire Us!</a></li>
          </ul>
        </nav>

    </div>



  </header>

  <body>

    <div class="container-fluid" id="topbar">
      <div class="row-fluid">
        <div class="span2">
          <div id="topcorner">
           <p>Cool Image Here</p>
          </div>
        </div>
          <div class="span10">
            <div class="hero-unit" id="myhero">
              <h1 class="left">The Newbs Project</h1>
              <p class="left">The Company of and for Blossoming Professionals</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div id="topcorner">
           <p>Links Here</p>
          </div>
        </div>
          <div class="span10">
            <div id="main">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>






    


    <footer> 
        <h4 class="center"><img class="floatright" id="newby" alt: "Noo Power!" src="/assets/bkg.jpg">If you have a comment or suggestion, please share it! <a href="/comments/new"><span>Click Here</span></a></h4>
        <p class="center">(If appropriate I'll respond or post it on the commentary page.)</p> 
        <p class="right"><small>Image taken from http://hdwallpaperpics.com/picture/stock-photo/abstract.</small></p> 
        <p class="right"><small>Let me know if you find something more appropriate. Thanks!</small></p>  
    </footer>
	</body>
</html>
  

