<!DOCTYPE html>
<html lang="en">
	<head>
    <%= render 'layouts/head' %> 	</head>
  <body>

    <%= render 'layouts/nav' %>

    <div class="container-fluid">
      <div class="row-fluid">
            <div class="span4 figure">
              <p id="notice"><%= notice %></p>

            </div><!--/span-->

<!-- end span 2 -->
        <div class="span8">
          <div id="main">
            <div class="wrapper">
              <%= yield %>
          
            </div>

            <div class="row-fluid inner-footer">
              <h2 class="center">If you have a comment or suggestion, please share it! <a href="/comments/new" id="footer-link"><span>Click Here</span></a></h2>
              <p class="center bottom">(If appropriate we'll respond or post it on the commentary page.)</p> 
            </div>
          </div>
<!-- end main -->
        </div>
<!-- end span 8 -->        

<!-- end span 2 -->
      </div>
<!-- end row fluid --> 
    </div> 
    <div class="row-fluid footer">

    </div>

    
	</body>
</html>


